<!DOCTYPE html>
<html>

<body>
    <form method="post">
        <div>
            <span>아이디</span>
            <input type="text" name="uid">
        </div>
        <div>
            <span>비밀번호</span>
            <input type="text" name="upw">
        </div>
        <div>
            <span>이름</span>
            <input type="text" name="uname">
        </div>
        <div>
            <input type="submit" value="가입하기" onclick="javascript: form.action='/join';" />
        </div>
    </form>
</body>

</html>